/*/////////////////// Selectors ///////////////////*/
/* Applying Universal Styles */
* {
  box-sizing: border-box;
}

/* Body Section Styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Main Header Section Styles*/
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4dd1e9;
  padding: 40px;
  border-radius: 0px 40px;
}

header:hover{
  border-radius: 40px 0px;
}

/* Top And Bottom Menu Navigation Styles And Behavoir*/
nav{
  flex-shrink: 0;
  padding: 15px 0;
  text-align: center;
  background: #397bb8;
  border-radius: 20px 10px;
  height: 50px;
}

nav a {
  color: aliceblue;
  padding: 15px 0;
  margin:20px 20px;
  text-decoration: none;
}
  
nav:hover{
  border-radius: 10px 20px;
}

/* Switch Toggle Heading Styles */
#switch-heading{
  margin: 0 auto;
  text-align: center;
}

/* Main Section Styles */
main {
  display: flex;
  flex-wrap: wrap;
}

/* Side Bar Styles and Behavior */
aside {
  flex: 1;
  background:#397bb8;
  color:  aliceblue;;
  padding: 20px;
  border-radius: 40px 0px;
}

aside:hover{
  border-radius: 0px 40px;
}

/* Projects Section Styles */
#work {
  flex: 3;
  background-color: #fff;
  text-align: center;
}

/* Figure Styles */
figure>a>img{
  width: 30%;
  height: 30%;
}

/* Footer Styles And Behavior */
footer{
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background:#4dd1e9;
  color: #fff;
  border-radius: 0px 40px;
}

footer:hover{
  border-radius: 40px 0px;
}

/* Switch Toggle Styles And Behavior */
input:checked + .slider {
  background-color: #042b50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #042b50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*/////////////////// Classes ///////////////////*/

/* About Me Photo Styles */
.photo{
   text-align: center;
  }

.photo img{
  text-align: center;
  width: 50%;
  height: 50%;
}

/* Switch Toggle Styles And Behavior */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #397bb8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.other-projects-rows{
  display: flex;
  flex-wrap: wrap;
}

/* Projects Sections Styles */
.main-project {
  background-color: #fff;
  width: 100%;
}

.other-projects {
  background-color: #fff;
  width: 50%;
}

.aside {
  overflow-y:auto;
  width: 100%;
  height: 100vh;
}

/* Responsive Settings For Mobile Devices */
@media screen and (max-width: 768px) {
  body{
  font-size: 1.5rem;
  }
  main,
  nav {
    flex-direction: column;
  }

  nav{
    display:flex;
    justify-content: space-around;
    padding: 5% 0;
    height: 250px;
  }

  nav a{
    padding: 0 0;
    margin: 10px;
  }

  aside {
    order: 2;
  }
}